<header class="header">
  <div class="container">
    <div class="navigation clearfix">
      <div class="logo"><a href="index.html"><img src="images/logo.png" alt="Automan" class="img-responsive"></a></div> <!-- end .logo -->
      <div class="login"><a href=""><i class="ion-ios-person"></i></a></div> <!-- end .login -->
      <div class="contact">
        <div class="line"></div>
        <a href="contact-us.html"><i class="fa fa-phone"></i></a>
      </div> <!-- end .contact -->
      <nav class="main-nav">
        <ul class="list-unstyled">
          <li class="active">
            <a href="index.html">Home</a>
            <ul>
              <li><a href="index.html">Homepage 1</a></li>
              <li><a href="homepage2.html">Homepage 2</a></li>
              <li><a href="homepage3.html">Homepage 3</a></li>
            </ul>
          </li>
          <li>
            <a href="add-car-details.html">Add Car</a>
            <ul>
              <li><a href="add-car-details.html">Add Car Details</a></li>
              <li><a href="choose-specification.html">Choose Specification</a></li>
              <li><a href="contact-details.html">Contact Details</a></li>
              <li><a href="photos-videos.html">Photos Videos</a></li>
              <li><a href="pay-publish.html">Pay Publish</a></li>
            </ul>
          </li>
          <li>
            <a href="listing-grid-view.html">Cars</a>
            <ul>
              <li><a href="listing-grid-view.html">Listing Grid View</a></li>
              <li><a href="listing-list-view.html">Listing List View</a></li>
              <li><a href="details.html">Details 1</a></li>
              <li><a href="details-1.html">Details 2</a></li>
            </ul>
          </li>
          <li>
            <a href="compare.html">Compare</a>
            <ul>
              <li><a href="compare.html">Compare</a></li>
              <li><a href="compare-details.html">Compare Details</a></li>
            </ul>
          </li>
          <li>
            <a href="blog.html">Blog</a>
            <ul>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="blog-post.html">Blog Post</a></li>
            </ul>
          </li>
          <li>
            <a href="">Pages</a>
            <ul>
              <li><a href="about-us.html">About Us</a></li>
              <li><a href="shortcodes.html">Shortcodes</a></li>
            </ul>
          </li>
          <li><a href="contact-us.html">Contact Us</a></li>
        </ul>
      </nav> <!-- end .main-nav -->
      <a href="" class="responsive-menu-open"><i class="fa fa-bars"></i></a>
    </div> <!-- end .navigation -->
  </div> <!-- end .container -->
</header> <!-- end .header -->
<div class="responsive-menu">
  <a href="" class="responsive-menu-close"><i class="ion-android-close"></i></a>
  <nav class="responsive-nav"></nav> <!-- end .responsive-nav -->
</div> <!-- end .responsive-menu -->
<div class="page-title" style="background-image: url('/src/assets/images/background01.jpg');">
  <div class="inner">
    <div class="container">
      <div class="title">Submit Your Car</div> <!-- end .title -->
    </div> <!-- end .container -->
  </div> <!-- end .inner -->
</div> <!-- end .page-title -->

<section class="section white">
  <div class="inner">
    <div class="container">
      <div class="add-car-header clearfix">
        <div class="item active">
          <div class="icon"><i class="fa fa-car"></i></div>
          <h6>Add Car Details</h6>
          <span class="sub">Choose your car</span>
          <span class="line"></span>
        </div> <!-- end .item -->
        <div class="item">
          <div class="icon"><i class="ion-ios-list-outline"></i></div>
          <h6>Choose Specifications</h6>
          <span class="sub">Specifications of your car</span>
          <span class="line"></span>
        </div> <!-- end .item -->
        <div class="item">
          <div class="icon"><i class="ion-ios-plus-outline"></i></div>
          <h6>Contact Details</h6>
          <span class="sub">Add your contact</span>
          <span class="line"></span>
        </div> <!-- end .item -->
        <div class="item">
          <div class="icon"><i class="ion-images"></i></div>
          <h6>Photos And Videos</h6>
          <span class="sub">Add Pics and Videos</span>
          <span class="line"></span>
        </div> <!-- end .item -->
        <div class="item">
          <div class="icon"><i class="ion-ios-checkmark-outline"></i></div>
          <h6>Pay & Publish</h6>
          <span class="sub">Choose your listing</span>
          <span class="line"></span>
        </div> <!-- end .item -->
      </div> <!-- end .add-car-header -->
    </div> <!-- end .container -->
  </div> <!-- end .inner -->
</section> <!-- end .section -->

<section class="section lighter">
  <div class="inner">
    <div class="container">
      <h6 class="add-car-heading">Add Your Car Details</h6>
      <div class="add-car-form">
        <form action="choose-specification.html">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Enter Make<span class="required">*</span></label>
                <input type="text" placeholder="Enter Your Car Make">
              </div> <!-- end .form-group -->
              <div class="form-group">
                <label>Select Body Type<span class="required">*</span></label>
                <div class="select-wrapper">
                  <select class="selectpicker">
                    <option>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                  </select>

                </div> <!-- end .select-wrapper -->
              </div> <!-- end .form-group -->
              <div class="form-group">
                <label>Select No. of Gears<span class="required">*</span></label>
                <div class="select-wrapper">
                  <select class="selectpicker">
                    <option>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                  </select>

                </div> <!-- end .select-wrapper -->
              </div> <!-- end .form-group -->
              <div class="form-group">
                <label>Select Engine Type<span class="required">*</span></label>
                <div class="select-wrapper">
                  <select class="selectpicker">
                    <option>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                  </select>

                </div> <!-- end .select-wrapper -->
              </div> <!-- end .form-group -->
              <div class="form-group">
                <label>Select Fuel Type<span class="required">*</span></label>
                <div class="select-wrapper">
                  <select class="selectpicker">
                    <option>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                  </select>

                </div> <!-- end .select-wrapper -->
              </div> <!-- end .form-group -->
            </div> <!-- end .col-sm-4 -->
            <div class="col-sm-4">
              <div class="form-group">
                <label>Enter Model of your car<span class="required">*</span></label>
                <input type="text" placeholder="Model">
              </div> <!-- end .form-group -->
              <div class="form-group">
                <label>Select Seats<span class="required">*</span></label>
                <div class="select-wrapper">
                  <select class="selectpicker">
                    <option>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                  </select>

                </div> <!-- end .select-wrapper -->
              </div> <!-- end .form-group -->
              <div class="form-group">
                <label>Select Transmission Type<span class="required">*</span></label>
                <div class="select-wrapper">
                  <select class="selectpicker">
                    <option>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                  </select>

                </div> <!-- end .select-wrapper -->
              </div> <!-- end .form-group -->
              <div class="form-group">
                <label>Select No. of Cylinders<span class="required">*</span></label>
                <div class="select-wrapper">
                  <select class="selectpicker">
                    <option>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                  </select>

                </div> <!-- end .select-wrapper -->
              </div> <!-- end .form-group -->
              <div class="form-group">
                <label>Enter VIN/Chassis Number<span class="required">*</span></label>
                <input type="text" placeholder="Number">
              </div> <!-- end .form-group -->
            </div> <!-- end .col-sm-4 -->
            <div class="col-sm-4">
              <div class="form-group">
                <label>Select Manufacture Year<span class="required">*</span></label>
                <div class="select-wrapper">
                  <select class="selectpicker">
                    <option>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                  </select>

                </div> <!-- end .select-wrapper -->
              </div> <!-- end .form-group -->
              <div class="form-group">
                <label>Select No. of Doors<span class="required">*</span></label>
                <div class="select-wrapper">
                  <select class="selectpicker">
                    <option>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                  </select>

                </div> <!-- end .select-wrapper -->
              </div> <!-- end .form-group -->
              <div class="form-group">
                <label>Select Drive Type<span class="required">*</span></label>
                <div class="select-wrapper">
                  <select class="selectpicker">
                    <option>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                  </select>

                </div> <!-- end .select-wrapper -->
              </div> <!-- end .form-group -->
              <div class="form-group">
                <label>Enter Engine Capacity<span class="required">*</span></label>
                <input type="text" placeholder="Number">
              </div> <!-- end .form-group -->
            </div> <!-- end .col-sm-4 -->
          </div> <!-- end .row -->
          <button type="submit" class="button solid green">Save and Continue</button>
        </form>
      </div> <!-- end .add-car -->
    </div> <!-- end .container -->
  </div> <!-- end .inner -->
</section> <!-- end .section -->
