<p>
  test works!
</p>

// test create new post
<div class="panel-body">
  <textarea name="status" class="form-control share-text" rows="3" placeholder="new post..." ></textarea>
  <div class="panel-boxed">
    <button name = "submit" type="button" class="btn btn-primary" value="{{newTag && 'please wait...' || 'start'}}">tag1</button>
    <button name = "submit" type="button" class="btn btn-primary">tag2</button>
    <button name = "submit" type="button" class="btn btn-primary">tag3</button>
    <button name = "submit" type="button" class="btn btn-primary">tag4</button>
  </div>
  <button name = "submit" type="submit" class="login100-form-btn" (click)="submitPost()">newPost</button>
</div>

// test add new tag
<div class="panel-body">
  <textarea name="status" class="form-control share-text" rows="3" placeholder="your new tag..." ></textarea>
  <button name = "submit" type="submit" class="login100-form-btn" (click)="submitNewTag()">newTag</button>
</div>

// follow and unfollow

<div class="panel-body">
  <textarea name="status" class="form-control share-text" rows="3" placeholder="the people you want to follow" [(ngModel)]="followName.username" ></textarea>
  <button name = "submit" type="submit" class="login100-form-btn" (click)="follow()">newTag</button>
  <textarea name="status" class="form-control share-text" rows="3" placeholder="the people you want to unfollow" [(ngModel)]="unfollowName.username"></textarea>
  <button name = "submit" type="submit" class="login100-form-btn" (click)="unfollow()">newTag</button>
</div>




